.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--surface);
  flex: 1;
  min-height: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
